<!DOCTYPE html>
<!-- sub-template: Row layout for anime grid on Explore page-->

<div class="col-md-3">
  <figure class="figure">
    <img class="figure-img img-responsive img-thumbnail" src="https://cdn.myanimelist.net/images/anime/13/7226.jpg">
  </figure>
  <figcaption class="figure-caption text-left text-truncate font-weight-bold">A caption for the above image asd asd  d d</figcaption>
</div>

<div class="col-md-3">
  <figure class="figure">
    <img class="figure-img img-responsive img-thumbnail" src="https://cdn.myanimelist.net/images/anime/6/75536.jpg">
  </figure>
  <figcaption class="figure-caption text-left text-truncate font-weight-bold">A caption for the above image asd asd  d d</figcaption>
</div>

<div class="col-md-3">
  <figure class="figure">
    <img class="figure-img img-responsive img-thumbnail" src="https://cdn.myanimelist.net/images/anime/8/6591.jpg">
  </figure>
  <figcaption class="figure-caption text-left text-truncate font-weight-bold">A caption for the above image asd asd  d d</figcaption>
</div>

<div class="col-md-3">
  <figure class="figure">
    <img class="figure-img img-responsive img-thumbnail" src="https://cdn.myanimelist.net/images/anime/7/75919.jpg">
  </figure>
  <figcaption class="figure-caption text-left text-truncate font-weight-bold">A caption for the above image asd asd  d d</figcaption>
</div>