<!DOCTYPE html>
<!--Homepage user reviews sub-template-->

<li class="list-group-item">
  <h6 class="media-heading">
    <p>
      <img src="http://placehold.it/50x50" style="float:left; width:auto; height:4vh; margin-right:10px; border-radius:50%">
      Username
      <br>
      <small>
          reviewed <a href="#">Anime Title</a>
      </small>
    </p>
  </h6>
  <div class="overflow">
    <p>
      <img src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" style="float:left; width:auto; height:7vh; margin-right:15px;">
      Vivamus pulvinar mauris eu placerat blandit. In euismod tellus vel ex vestibulum congue cerat blandit.
      In euismod tellus vel ex vestibulum conguecerat blandit. In euismod tellus vel ex vestibulum conguecer
      at blandit. In euismod tellus vel ex vestibulum conguecerat blandit. In euismod tellus vel.
    </p>
  </div>
</li>