<!DOCTYPE html>
<!--Homepage user reviews sub-template-->

<li class="list-group-item">
  <h6 class="media-heading">
    <p>
      <img src="{{ url_for('static', filename='profile_pics/' + review.user.image_file) }}" style="float:left; width:auto; height:4vh; margin-right:10px; border-radius:50%">
      {{ review.user.username }}
      <br>
      <small>
        reviewed <a href="{{ url_for('anime_bp.anime_gen', anime_id=review.anime.id) }}">{{ review.anime.title }}</a>
      </small>
    </p>
  </h6>
  <div class="overflow">
    <p>
      <a href="{{ url_for('anime_bp.anime_gen', anime_id=review.anime.id) }}">
        <img src="{{ review.anime.image_file }}" style="float:left; width:auto; height:7vh; margin-right:15px;">
      </a>
      {{ review.content }}
    </p>
  </div>
</li>