<head>
    <!-- Anime Page CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='anime.css') }}">
</head>

{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!--sidebar-->
        <div class="col-lg-3">
            <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/1764/106659.jpg" style="padding-bottom: 15px" width="100%">
            <h6 style="padding-top: 10px">Alternative Titles</h6>
            <p style="text-align:left; font-size:12px">
                <b>English:</b> Kaguya-sama: Love is War Season 2
                <br>
                <b>Japanese:</b> かぐや様は告らせたい？～天才たちの恋愛頭脳戦～
            </p>
            <hr>
            <h6 style="padding-top: 10px">Information</h6>
            <table style="width:100%; font-size:12px">
                <tr>
                    <td>Score</td>
                    <td class="align-right"><b>⭐8.85/10</b></td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td class="align-right"><b>TV</b></td>
                </tr>
                <tr>
                    <td>Episodes</td>
                    <td class="align-right"><b>12</b></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td class="align-right"><b>Currently Airing</b></td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td class="align-right"><b>PG-13 - Teens 13 or older</b></td>
                </tr>
                <tr>
                    <td>Premiered</td>
                    <td class="align-right"><b>Spring 2020</b></td>
                </tr>
                <tr>
                    <td>Broadcast</td>
                    <td class="align-right"><b>Saturdays at 23:30 (JST)</b></td>
                </tr>

                <tr>
                    <td>Genres</td>
                    <td class="align-right"><b>Comedy, Psychological, Romance, School, Seinen</b></td>
                </tr>
            </table>
            <hr>
        </div>
        <!--content-->
        <div class="col-lg-9">
            <h4 style="padding-bottom: 20px">Kaguya-sama wa Kokurasetai?: Tensai-tachi no Renai Zunousen</h4>
            <button type="button" class="btn btn-dark btn-sm" style="font-size: 0.8em">Comedy</button>
            <button type="button" class="btn btn-dark btn-sm" style="font-size: 0.8em">Psychological</button>
            <button type="button" class="btn btn-dark btn-sm" style="font-size: 0.8em">Romance</button>
            <button type="button" class="btn btn-dark btn-sm" style="font-size: 0.8em">School</button>
            <button type="button" class="btn btn-dark btn-sm" style="font-size: 0.8em">Seinen</button>
            <hr>
            <h5 style="padding-top: 15px">Synopsis</h5>
            <p>After a slow but eventful summer vacation, Shuchiin Academy's second term is now starting in full force. As August transitions into September, Miyuki Shirogane's birthday looms ever closer, leaving Kaguya Shinomiya in a serious predicament as to how to celebrate it. Furthermore, the tenure of the school's 67th student council is coming to an end. Due to the council members being in different classes, the only time Kaguya and Miyuki have to be together will soon disappear, putting all of their cunning plans at risk.

A long and difficult election that will decide the fate of the new student council awaits, as multiple challengers fight for the coveted title of president.</p>
            <hr>

            <h5 style="padding-top: 15px; padding-bottom: 10px">Reviews</h5>
            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h6 class="mt-0">Commenter Name</h6>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

        </div>
    </div>



</div>

{% endblock %}