<head>
    <!-- Anime Page CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='anime.css') }}">

</head>


{% extends "base.html" %}

{% block content %}
<div class="row">&nbsp;</div>
<div class="container">

    <div class="row">
        <!--sidebar-->
        <div class="col-md-3">
            <img class="img-responsive" src="{{ anime.image_file }}" style="padding-bottom: 15px" width="100%">
            <h6 style="padding-top: 10px">Alternative Titles</h6>
            <p style="text-align:left; font-size:12px">
                <b>English:</b> {{ anime.title }}
                <br>
                <b>Japanese:</b> {{ anime.title_japanese }}
            </p>
            <hr>
            <h6 style="padding-top: 10px">Information</h6>
            <table style="width:100%; font-size:12px">
                <tr>
                    <td>Score</td>
                    <td class="align-right"><b>⭐{{ anime.score }}/10</b></td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td class="align-right"><b>{{ anime.type }}</b></td>
                </tr>
                <tr>
                    <td>Episodes</td>
                    <td class="align-right">
                        <b>
                        {% if anime.episodes==0 %}
                            N/A
                        {% else %}
                            {{ anime.episodes }}
                        {% endif %}
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td class="align-right"><b>{{ anime.status }}</b></td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td class="align-right"><b>{{ anime.rating }}</b></td>
                </tr>
                <tr>
                    <td>Premiered</td>
                    <td class="align-right"><b>{{ anime.premiered }}</b></td>
                </tr>
                <tr>
                    <td>Broadcast</td>
                    <td class="align-right"><b>{{ anime.broadcast }}</b></td>
                </tr>

                <tr>
                    <td>Genres</td>
                    <td class="align-right">
                        {% set genres = anime.genres.strip('[]').replace("'", "").strip(',') %}
                        <b>{{ genres }}</b>
                    </td>
                </tr>
            </table>
            <hr>
        </div>
        <!--content-->
        <div class="col-md-9">
            <h4 style="padding-bottom: 20px">{{ anime.title }}</h4>
            {% set genresList = genres.split(", ") %}
            {% for genre in genresList %}
            <button type="button" class="btn btn-dark btn-sm" style="font-size: 0.8em">{{ genre }}</button>
            {% endfor %}
            <hr>

            {% if current_user.is_authenticated %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10 text-right">
                    <!-- STATUS - Dropdown button -->
                    <div class="btn-group dropdown" id="statusGroup">
                        <div class="input-group" id="statusInput">
                            <div class="input-group-btn" id="status">
                                <button type="button" class="btn btn-outline-info btn-sm dropdown-toggle-status" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--                                    <i class="fa fa-flag" aria-hidden="true"></i> {{ user_anime.status }} <i class="fa fa-caret-down" aria-hidden="true"></i>-->
                                    {% if user_anime.status == 'Watching' %}
                                        <i class="fa fa-eye" aria-hidden="true"></i> {{ user_anime.status }} <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% elif user_anime.status == 'Completed' %}
                                        <i class="fa fa-eye" aria-hidden="true"></i> {{ user_anime.status }} <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% elif user_anime.status == 'On Hold' %}
                                        <i class="fa fa-eye" aria-hidden="true"></i> {{ user_anime.status }} <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% elif user_anime.status == 'Dropped' %}
                                        <i class="fa fa-eye" aria-hidden="true"></i> {{ user_anime.status }} <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% elif user_anime.status == 'Plan to Watch' %}
                                        <i class="fa fa-eye" aria-hidden="true"></i> {{ user_anime.status }} <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-flag" aria-hidden="true"></i> Set Status <i class="fa fa-caret-down" aria-hidden="true">
                                    {% endif %}

                                </button>
                                <div class="dropdown-menu " id="status-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item status-btn" href="#"><i class="fa fa-eye" aria-hidden="true"></i> Watching</a>
                                    <a class="dropdown-item status-btn" href="#"><i class="fa fa-check" aria-hidden="true"></i> Completed</a>
                                    <a class="dropdown-item status-btn" href="#"><i class="fa fa-pause" aria-hidden="true"></i> On Hold</a>
                                    <a class="dropdown-item status-btn" href="#"><i class="fa fa-ban" aria-hidden="true"></i> Dropped</a>
                                    <a class="dropdown-item status-btn" href="#"><i class="fa fa-bookmark" aria-hidden="true"></i> Plan to Watch</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- USER RATING - Dropdown button -->
                    <div class="btn-group dropdown">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-outline-warning btn-sm text-dark dropdown-toggle-rating" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-star" aria-hidden="true"></i> Rating <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu " id="rating" aria-labelledby="dropdownMenuButton2">

                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 10</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 9</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 8</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 7</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 6</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 5</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 4</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 3</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 2</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 1</a>
                                    <a class="dropdown-item rate-btn" href="#"><i class="fa fa-star" aria-hidden="true"></i> 0</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Favorite button -->
                    <div class="btn-group mt-3">
                    {% if user_anime.favorite %}
                        <form action="{{ url_for('anime_bp.unfavorite', anime_id=anime.id) }}" method="post">
                            {{ emptyForm.hidden_tag() }}
                            <button type="submit" class="btn btn-outline-danger active">
                                <i class="fa fa-heart"> Favorited</i>
                            </button>
                        </form>
                    {% else %}
                        <form action="{{ url_for('anime_bp.favorite', anime_id=anime.id) }}" method="post">
                            {{ emptyForm.hidden_tag() }}
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="fa fa-heart"> Favorite</i>
                            </button>
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>

            <h6 style="padding-left:25px">Episode</h6>
            {% if user_anime %}
                {% set userEpisode=user_anime.episodes_watched %}
            {% else %}
                {% set userEpisode=0 %}
            {% endif %}

            <div class="row">
                <div class="col-md-2">
                    <div class="input-group input-group-sm">
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                  <i class="fa fa-minus" aria-hidden="true"></i>
                              </button>
                          </span>
                          <input type="text" name="quant[1]" class="form-control input-number" value="{{ userEpisode }}" min="0" max="{{ anime.episodes }}">
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                  <i class="fa fa-plus" aria-hidden="true"></i>
                              </button>
                          </span>
                    </div>
                </div>
                <div class="col-md-10">
                    <h6 style="text-align:center">Completion Status</h6>
                    <div class="progress bg-secondary">
                        {% set barWidth= userEpisode/anime.episodes*100 %}
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ barWidth }}%" >&nbsp; {{ userEpisode }} / {{ anime.episodes }} episodes</div>
                    </div>
                </div>
            </div>
            {% endif %}

            <h5 style="padding-top: 25px">Synopsis</h5>
            <p>{{ anime.synopsis }}</p>
            <hr>

            {% if current_user.is_authenticated %}
            {% if form %}
            <!-- Comments Form -->
            <div class="card my-4">
                <h6 class="card-header">Leave a Review</h6>
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                          {{ form.review(class="form-control", rows="3") }}
                        </div>
                        {{ form.submit(type="submit", class="btn btn-primary") }}
                    </form>
                </div>
            </div>
            <hr>
            {% endif %}
            {% endif %}

            <h5 style="padding-top: 15px;" class="pb-4">User Reviews</h5>

            <!-- User Reviews -->
            {% for review in reviews %}
                {% include '_animeReview.html' %}
            <hr>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}