<!DOCTYPE html>
<!-----------Parent Template with Navigation Bar-------------->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} - Himawari - Anime Database and Community</title>
        {% else %}
        <title>Himawari - Anime Database and Community</title>
        {% endif %}
    </head>
    <body>
        <div>
            Himawari Community:
            <a href="{{ url_for('main.home') }}">Home</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>