<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='home.css') }}">
</head>

{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <div class="bg"></div>
  <h1 class="display-4" style="text-align:center"><b>Welcome to Himawari!</b></h1>
  <p class="lead" style="text-align:center">
    <b> Discover Anime.<br>Track your favorites. <br>Join the community.<br></b>
    <br>
    <button type="button" class="btn btn-primary btn-lg">Start Exploring</button>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <!--SEASONAL-->
      <div class="container">
        <h2 class="pt-4 mb-4">Current Seasonal Anime</h2>
        <div class="row">
          <div class="flex-fixed-width-item">
            <div id="demo" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>

              <!-- The slideshow -->
              <div class="container-fluid carousel-inner no-padding">
                <div class="carousel-item active">
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption Caption Caption</b></div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/2/75259.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b></div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/10/8380.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <!--POPULAR-->
      <div class="container">
        <h2 class="pt-4 mb-4">Popular Anime</h2>
        <div class="row">
          <div class="flex-fixed-width-item">
            <div id="popular" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#popular" data-slide-to="0" class="active"></li>
                <li data-target="#popular" data-slide-to="1"></li>
                <li data-target="#popular" data-slide-to="2"></li>
              </ul>

              <!-- The slideshow -->
              <div class="container-fluid carousel-inner no-padding">
                <div class="carousel-item active">
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption Caption Caption</b></div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/2/75259.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b></div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/10/8380.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#popular" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#popular" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <!--TOP UPCOMING-->
      <div class="container">
        <h2 class="pt-4 mb-4">Top Upcoming Anime</h2>
        <div class="row">
          <div class="flex-fixed-width-item">
            <div id="topUpcoming" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#topUpcoming" data-slide-to="0" class="active"></li>
                <li data-target="#topUpcoming" data-slide-to="1"></li>
                <li data-target="#topUpcoming" data-slide-to="2"></li>
              </ul>

              <!-- The slideshow -->
              <div class="container-fluid carousel-inner no-padding">
                <div class="carousel-item active">
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption Caption Caption</b></div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/2/75259.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b></div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/10/8380.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >
                    Caption
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#topUpcoming" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#topUpcoming" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      <h2 class="pt-4" style="text-align:right">Recent Reviews</h2>
    </div>
  </div>
</div>


<!--<div class="container">-->
<!--  <h2 class="pt-4 mb-4">Current Seasonal Anime</h2>-->
<!--  <div class="row">-->
<!--    <div class="flex-fixed-width-item">-->
<!--      <div id="demo" class="carousel slide " data-ride="carousel">-->

<!--        &lt;!&ndash; Indicators &ndash;&gt;-->
<!--        <ul class="carousel-indicators">-->
<!--          <li data-target="#demo" data-slide-to="0" class="active"></li>-->
<!--          <li data-target="#demo" data-slide-to="1"></li>-->
<!--          <li data-target="#demo" data-slide-to="2"></li>-->
<!--        </ul>-->

<!--        &lt;!&ndash; The slideshow &ndash;&gt;-->
<!--        <div class="container-fluid carousel-inner no-padding">-->
<!--          <div class="carousel-item active">-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption Caption Caption</b></div>-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/2/75259.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b></div>-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/10/8380.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="carousel-item">-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="carousel-item">-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Left and right controls &ndash;&gt;-->
<!--        <a class="carousel-control-prev" href="#demo" data-slide="prev">-->
<!--          <span class="carousel-control-prev-icon"></span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#demo" data-slide="next">-->
<!--          <span class="carousel-control-next-icon"></span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="container">-->
<!--  <h2 class="pt-4 mb-4">Popular Anime</h2>-->
<!--  <div class="row">-->
<!--    <div class="flex-fixed-width-item">-->
<!--      <div id="popular" class="carousel slide " data-ride="carousel">-->

<!--        &lt;!&ndash; Indicators &ndash;&gt;-->
<!--        <ul class="carousel-indicators">-->
<!--          <li data-target="#popular" data-slide-to="0" class="active"></li>-->
<!--          <li data-target="#popular" data-slide-to="1"></li>-->
<!--          <li data-target="#popular" data-slide-to="2"></li>-->
<!--        </ul>-->

<!--        &lt;!&ndash; The slideshow &ndash;&gt;-->
<!--        <div class="container-fluid carousel-inner no-padding">-->
<!--          <div class="carousel-item active">-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption Caption Caption</b></div>-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/2/75259.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b></div>-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/10/8380.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="carousel-item">-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="carousel-item">-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Left and right controls &ndash;&gt;-->
<!--        <a class="carousel-control-prev" href="#popular" data-slide="prev">-->
<!--          <span class="carousel-control-prev-icon"></span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#popular" data-slide="next">-->
<!--          <span class="carousel-control-next-icon"></span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="container">-->
<!--  <h2 class="pt-4 mb-4">Top Upcoming Anime</h2>-->
<!--  <div class="row">-->
<!--    <div class="flex-fixed-width-item">-->
<!--      <div id="topUpcoming" class="carousel slide " data-ride="carousel">-->

<!--        &lt;!&ndash; Indicators &ndash;&gt;-->
<!--        <ul class="carousel-indicators">-->
<!--          <li data-target="#topUpcoming" data-slide-to="0" class="active"></li>-->
<!--          <li data-target="#topUpcoming" data-slide-to="1"></li>-->
<!--          <li data-target="#topUpcoming" data-slide-to="2"></li>-->
<!--        </ul>-->

<!--        &lt;!&ndash; The slideshow &ndash;&gt;-->
<!--        <div class="container-fluid carousel-inner no-padding">-->
<!--          <div class="carousel-item active">-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption Caption Caption</b></div>-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/2/75259.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b></div>-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/10/8380.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><b>Caption</b> </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="carousel-item">-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="carousel-item">-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--            <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--              <img class="img-responsive" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg" >-->
<!--              Caption-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Left and right controls &ndash;&gt;-->
<!--        <a class="carousel-control-prev" href="#topUpcoming" data-slide="prev">-->
<!--          <span class="carousel-control-prev-icon"></span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#topUpcoming" data-slide="next">-->
<!--          <span class="carousel-control-next-icon"></span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



{% endblock %}