<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='home.css') }}">
</head>

{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <div class="bg"></div>
  <h1 class="display-4" style="text-align:center"><b>Welcome to Kaguya!</b></h1>
  <p class="lead" style="text-align:center">
    <b> Discover Anime.<br>Track your favorites. <br>Join the community.<br></b>
    <br>
    <a href="{{ url_for('main.explore') }}" class="btn btn-primary btn-lg"> Start Exploring </a>
  </p>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <!--SEASONAL-->
    {% set carouselName = 'seasonal' %}
    {% set animeGroup = seasonal_anime %}
    <div class="container-fluid">
      <table style="width:110%;">
        <tr>
          <td><h2 class="pt-4 mb-4">Current Seasonal Anime</h2></td>
          <td class="align-right">
            <a href="{{ url_for('main.explore') }}" class="btn btn-outline-dark btn-sm mt-5"> View More </a>
          </td>
        </tr>
      </table>
      {% include '_carousel.html' %}
    </div>
    <hr>
    <!--POPULAR-->
    {% set carouselName = 'popular' %}
    {% set animeGroup = popular_anime %}
    <div class="container-fluid">
      <table style="width:123%;">
        <tr>
          <td><h2 class="pt-4 mb-4">Popular Anime</h2></td>
          <td class="align-right">
            <a href="{{ url_for('main.explore') }}" class="btn btn-outline-dark btn-sm mt-5"> View More </a>
          </td>
        </tr>
      </table>
      {% include '_carousel.html' %}
    </div>
    <hr>
    <!--TOP UPCOMING-->
    {% set carouselName = 'upcoming' %}
    {% set animeGroup = upcoming_anime %}
    <div class="container-fluid">
      <table style="width:112%;">
        <tr>
          <td><h2 class="pt-4 mb-4">Top Upcoming Anime</h2></td>
          <td class="align-right">
            <a href="{{ url_for('main.explore') }}" class="btn btn-outline-dark btn-sm mt-5"> View More </a>
          </td>
        </tr>
      </table>
      {% include '_carousel.html' %}
    </div>
    &nbsp;
  </div>

  <!--RIGHT SIDEBAR-->
  <div class="col-md-3">
    <div class="container-fluid">
    <!--USER REVIEWS-->
    <div class="card mt-4">
      <h5 class="card-header"><i class="fa fa-comment" aria-hidden="true"></i> Latest Reviews </h5>
        <ul class="list-group list-group-flush">
          {% for review in recent_reviews %}
            {% include '_homeReview.html' %}
          {% endfor %}
        </ul>
        <a href="{{ url_for('main.reviews') }}" class="btn btn-dark btn-block btn-sm">More Reviews</a>
    </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

{% endblock %}