.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.figure > .img-thumbnail {
  width: 100%;
  height: auto;
  max-height: 320px;
  border-radius: 5%;
  padding: 0px;
}

.figure {
  margin-bottom: 0px;
}

.figure-caption{
  margin-bottom: 5vh;
}

#myInput #yearInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}
