.carousel-inner > .carousel-item > .col-xs-3 > img {
  height: 250px;
  padding: 0px;
  margin: auto;
}

.carousel-inner > .carousel-item {
   height: 310px;
}

.col-md-3{
  display: inline-block;
  margin-left:-4px;
}
.col-md-3 img{
  width:100%;
  height:100%;
}
body .carousel-indicators li{
  background-color:#2d2c33;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
body .carousel-indicators{
  bottom: -10px;
}

body .no-padding{
  padding-left: 0;
  padding-right: 0;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    height: 80%;
    top: 33%;
    width: 86px;
}

.carousel-control-prev {
  margin-left: -60px;
}

.carousel-control-next {
  margin-right: -60px;
}

.flex-fixed-width-item {
    flex: 0 0 820px;
}

body .jumbotron {
    margin-bottom: 0px;
    position: relative;
    background: none;
  }

.jumbotron .bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://static.zerochan.net/Kazami.Yuuka.full.1287759.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
     -o-filter: blur(5px);
     -ms-filter: blur(5px);
     filter: blur(5px);
     z-index: -1;
}
